body{
    margin: 0;
    padding: 0;
}
#input-field{
    width: 400px;
    border-radius: 04px;
    /* border: none; */
    margin-left: 280px;
    padding: 5px;
}
#food-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.card img,
.card h2{
    width: 300px;
    margin: 0 auto;
    border-radius: 1em;
    
}
.allInfo{
    width: 400px;
    margin: 0 auto;
}
.allInfo img{
    width: 400px;
    border-radius: 2em;
}
#food-details{
    background-color: lightpink;
    border-radius: 2em;
    margin-bottom: 3em;
    padding: 10px;
    display: none;
}
.card{
    border-radius: 1em;
    margin-bottom: 3em;
    padding: 10px;
    align-items: center;
}
.allInfo h2{
    text-align: center;
    font-size: 21px;
}